@charset "UTF-8";

body {
    font-family: "Rubik", sans-serif;
    position: relative;
}

a {
    color: #4fe2fa;
}

a:hover,
a:focus {
    color: #4fe2fa;
}

.row h2 {
    font-size: 35px;
}

.row span {
    /** TEXT GRADIENT */
    color: #b5f26b;
    padding-top: 20px;
    font-size: 35px;
}

h3 {
    padding-top: 10px;
    color: #1aaac2;
    font-size: 33px;
    font-weight: 500;
}

.row p {
    font-size: 22px;
    font-weight: 300;
}

h4 {
    font-size: 20px;
    font-weight: 500;
    color: #1aaac2;
}

h5 {
    font-size: 28px;
    font-weight: 300;
    color: #1aaac2;
    margin-bottom: 0.7rem;
}

p {
    color: #959094;
    font-size: 20px;
}

.light-font {
    font-weight: 300;
}

.btn {
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 0.375rem 1.35rem;
    transition: all 0.3s ease;
}

.btn-outline-light:hover {
    color: #4fe2fa !important;
}

.light-bg {
    background-color: #faf6fb;
}
.light-bg-y {
    background-color: #1aaac2;
}

.section {
    padding: 80px 0;
}

.section-title {
    text-align: center;
    margin-bottom: 3rem;
}

.section-title small {
    color: #998a9b;
}

@media (max-width: 767px) {
    .row h2 {
        padding-top: 20px;
        font-size: 22px;
    }
    .row span {
        /** TEXT GRADIENT */
        color: #b5f26b;
        padding-top: 20px;
        font-size: 22px;
    }

    .span span {
        padding-top: 20px;
        font-size: 22px;
    }
    .row p {
        font-size: 15px;
        font-height: 200;
    }
}

/* NAVBAR
----------------------*/

.nav-menu {
    padding: 1rem 0;
    transition: all 0.3s ease;
}

.nav-menu.is-scrolling,
.nav-menu.menu-is-open {
    background-image: -m-webkit-linear-gradient(to right, #5b86e5, #36d1dc);
    background: linear-gradient(to right, #5b86e5, #36d1dc);
}

.nav-menu.is-scrolling {
    padding: 0;
}

.navbar-nav .nav-link {
    position: relative;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 1rem;
        font-size: 18px;
    }
    .navbar-nav > .nav-item > .nav-link.active:after {
        content: "";
        border-bottom: 2px solid #a0f2ff;
        left: 1rem;
        right: 1rem;
        bottom: 5px;
        height: 1px;
        position: absolute;
    }
}

@media (max-width: 991px) {
    .navbar-nav.is-scrolling {
        padding-bottom: 1rem;
    }
    .navbar-nav .nav-item {
        text-align: center;
    }
}

/* HERO
----------------------*/

header {
    padding: 100px 0 0;
    text-align: center;
    color: #fff;
}

.bg-gradient {
    background-image: -m-webkit-linear-gradient(to right, #5b86e5, #36d1dc);
    background: linear-gradient(to right, #5b86e5, #36d1dc);
}

/* header */
.hero-header {
    position: relative;
    margin-top: -100px;
    padding-top: -1rem;
    padding-bottom: 1rem;
    background: url(../images/bg.png) center center no-repeat;
    background-size: absolute;
}

.hero-header::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    clip-path: polygon(66% 0, 100% 0, 100% 100%, 33% 100%);
}

.hero-header .container {
    position: relative;
    z-index: 1;
}
.hero-header .breadcrumb-item + .breadcrumb-item::before {
    color: var(--bs-light);
}

@media (max-width: 1200px) {
    .img-holder {
        padding-bottom: 50%;
    }
}

@media (max-width: 767px) {
    .tagline {
        font-size: 17px;
    }
    .img-holder {
        padding-bottom: 100%;
    }
}

/* gallery Laundry */

.img-gallery .owl-item {
    box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.07);
    transform: scale(0.8);
    transition: all 0.3s ease-in;
}

.img-gallery .owl-item.center {
    transform: scale(1);
}

/*  TABS
----------------------*/

.tab-content {
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: #fff;
    box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.04);
    padding: 3rem;
}

@media (max-width: 992px) {
    .tab-content {
        padding: 1.5rem;
    }
}

.nav-tabs {
    border-bottom: 0;
}

.nav-tabs .nav-item .nav-link,
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
    padding: 1rem 1rem;
    border-color: #c3ebf1 #c3ebf1 #fff;
    font-size: 17px;
    color: #6fa0a8;
    background: #c3ebf1;
}

.nav-tabs .nav-link.active {
    background: #fff;
    border-top-width: 3px;
    border-color: #36d1dc #faf6fb #fff;
    color: #00b0cd;
}

#contact {
    padding-top: 10px;
}

/*  TESTIMONIALS
----------------------*/

/*  IMAGE GALLERY
----------------------*/

/*  PRICING
----------------------*/

/*  CALL TO ACTION
----------------------*/

/*  FOOTER
----------------------*/

.social-icons {
    text-align: right;
}

.social-icons a {
    background-color: #fff;
    box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.05);
    width: 50px;
    height: 50px;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    margin: 0 0.3rem;
    border-radius: 5px;
    color: #f4c9e2;
    transition: all 0.3s ease;
}

.social-icons a:hover {
    text-decoration: none;
    color: #e38cb7;
}

@media (max-width: 991px) {
    .social-icons {
        text-align: center;
        margin-top: 2rem;
    }
}
